@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Work Sans", sans-serif;
}

.heading-1 {
  font-size: 6rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-1 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 78.75em) {
  .heading-1 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-1 {
    font-size: 4rem;
  }
}

.heading-2 {
  font-size: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-2 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 78.75em) {
  .heading-2 {
    font-size: 3rem;
  }
}

.heading-3 {
  font-size: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-3 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 78.75em) {
  .heading-3 {
    font-size: 2.5rem;
  }
}

.heading-4 {
  font-size: 2.2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
@media only screen and (max-width: 37.5em) {
  .container {
    padding: 0 10rem;
  }
}
@media only screen and (max-width: 78.75em) {
  .container {
    padding: 0 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .container {
    padding: 0 5rem;
  }
}

.btn {
  padding: 1.5rem 3.5rem;
  color: #ffffff;
  border: none;
  border-radius: 100vh;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  opacity: 90%;
  transform: scale(1.02);
}

.btn__primary {
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
}

.btn__secondary {
  background-color: #4ec5f7;
}

.nav {
  height: 7rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
}
.nav__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.nav__logo img {
  width: 100%;
}
.nav__logo p {
  font-weight: 600;
  font-size: 3rem;
  color: #0B0223;
}
.nav__logo p span {
  color: #FF42A5;
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-weight: 400;
  font-size: 1.7rem;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .nav__list {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 2px solid #FF42A5;
    background-color: #ffffff;
    left: 50%;
    top: 20rem;
    transform: translateX(-50%) scale(0);
    width: 40rem;
    height: 40rem;
    border-radius: 2rem;
    transition: all 0.4s cubic-bezier(1, 0, 0, 1);
    z-index: -5;
  }
}
@media only screen and (max-width: 62.5em) {
  .nav__list {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 2px solid #FF42A5;
    background-color: #ffffff;
    left: 50%;
    top: 20rem;
    transform: translateX(-50%) scale(0);
    width: 40rem;
    height: 40rem;
    border-radius: 2rem;
    transition: all 0.4s cubic-bezier(1, 0, 0, 1);
    z-index: -5;
  }
}
.nav__list.active {
  transform: translateX(-50%) scale(1);
}
.nav__item:not(:last-child) {
  position: relative;
}
.nav__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4rem;
  left: 0;
  display: block;
  width: 0%;
  height: 0.5rem;
  background-color: #FF42A5;
  transition: width 0.5s linear;
  transform-origin: left;
}
.nav__item:not(:last-child):hover::after {
  width: 100%;
}
.nav__item:last-child {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: rgba(11, 2, 35, 0.1);
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
  color: #0B0223;
}
.nav__link {
  text-decoration: none;
  color: #0B0223;
  font-weight: 400;
  font-size: 1.7rem;
}
@media only screen and (max-width: 37.5em) {
  .nav__link {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
  }
}
@media only screen and (max-width: 62.5em) {
  .nav__link {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
  }
}
.nav__hamburger {
  display: none;
}
.nav__hamburger .bar {
  width: 4rem;
  height: 0.5rem;
  margin: 0.5rem;
  background-color: #FF42A5;
  border-radius: 0.4rem;
  transition: all 0.4s cubic-bezier(1, 0, 0, 1);
}
@media only screen and (max-width: 37.5em) {
  .nav__hamburger {
    display: block;
    cursor: pointer;
  }
  .nav__hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav__hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .nav__hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media only screen and (max-width: 62.5em) {
  .nav__hamburger {
    display: block;
    cursor: pointer;
  }
  .nav__hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav__hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .nav__hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.header {
  height: calc(100vh - 7rem);
}
@media only screen and (max-width: 37.5em) {
  .header {
    height: unset;
    padding: 5rem 0;
  }
}
@media only screen and (max-width: 78.75em) {
  .header {
    height: unset;
    padding: 5rem 0;
  }
}
.header__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.header__left {
  width: 50%;
}
.header__left .heading-3 {
  text-transform: uppercase;
}
.header__left .heading-1 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__left__features > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin: 1rem 0;
}
.header__left__features > div:first-child {
  padding-top: 3rem;
}
.header__left__features > div:last-child {
  padding-bottom: 3rem;
}
.header__left button:not(:last-child) {
  margin-right: 1.5rem;
}
.header__right {
  width: 50%;
}
.header__right img {
  width: 100%;
}

.gamers {
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
  padding: 10rem 0;
}
.gamers__flex {
  display: flex;
  align-items: center;
}
.gamers__left {
  width: 60%;
}
.gamers__left img {
  width: 90%;
}
.gamers__right {
  width: 40%;
  text-align: end;
}
.gamers__right .heading-3 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamers__right p:first-of-type {
  color: #534C64;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding: 2rem 0;
}
.gamers__right p:last-of-type {
  padding-top: 2rem;
}

.videos {
  padding: 10rem 0;
}
.videos .heading-3 {
  text-align: center;
}
.videos .heading-3 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.videos .container > p {
  text-align: center;
  line-height: 3rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: #534C64;
}
.videos__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 5rem;
}
.videos .video__play {
  display: none;
  transition: 0.4s ease-in-out;
}
.videos .video {
  width: 28rem;
  cursor: pointer;
}
.videos .video .video_img {
  position: relative;
}
.videos .video .video_img:hover .video__play {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  border: 5px solid #FF42A5;
  border-radius: 2rem;
}
.videos .video .video_img:hover .video__play img {
  width: 8rem;
  height: 8rem;
}
.videos .video .video_img:hover .video__play p {
  font-size: 3rem;
  color: #FF42A5;
  font-weight: 700;
}
.videos .video .video_img img {
  width: 100%;
  height: 40rem;
  border-radius: 2rem;
  border: 5px solid transparent;
  position: relative;
}
.videos .video p {
  color: #534C64;
  padding: 1rem;
}

.play {
  padding: 10rem 0;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}
.play__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.play__left {
  width: 50%;
  text-align: center;
}
.play__left > div {
  max-width: 40rem;
}
.play__left span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play__left p {
  color: #534C64;
  line-height: 2.5rem;
  padding-top: 2rem;
}
.play__right {
  width: 50%;
  position: relative;
}
.play__right__img__lg {
  display: flex;
  justify-content: flex-end;
}
.play__right__img__lg img {
  width: 80%;
}
.play__right__img__sm {
  position: absolute;
  left: 2rem;
  bottom: -8rem;
}
.play__right__img__sm img {
  width: 100%;
  max-width: 21rem;
  max-height: 26rem;
}

.online {
  padding: 10rem 0;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}
.online__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.online__left {
  width: 50%;
  position: relative;
}
.online__left__img__lg {
  display: flex;
  justify-content: flex-start;
}
.online__left__img__lg img {
  width: 80%;
}
.online__left__img__sm {
  position: absolute;
  right: 2rem;
  bottom: -8rem;
}
.online__left__img__sm img {
  width: 100%;
  max-width: 21rem;
  max-height: 26rem;
}
.online__right {
  width: 50%;
  text-align: center;
  display: grid;
  place-items: center;
}
.online__right > div {
  max-width: 40rem;
}
.online__right span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online__right p {
  color: #534C64;
  line-height: 2.5rem;
  padding-top: 2rem;
}

.careers {
  background: #FF42A5;
  color: #ffffff;
  padding: 10rem 0;
}
.careers__flex {
  display: flex;
  gap: 2rem;
}
.careers__left {
  width: 40%;
}
.careers__left > p {
  font-size: 1.4rem;
  padding: 2rem 0;
  text-align: justify;
  line-height: 2rem;
}
.careers__categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 3rem);
  font-weight: 600;
  padding-top: 4rem;
}
.careers__categories .r-align {
  text-align: end;
}
.careers__right {
  width: 60%;
  display: grid;
  place-items: end;
}
.careers__right img {
  width: 80%;
}

.categories {
  padding: 10rem 0;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}
.categories__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.categories__container > div {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  background-color: #ffffff;
  border-radius: 100vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s linear;
  padding: 0.8rem;
  min-width: 20rem;
}
.categories__container > div:hover {
  border: 2px solid #FF42A5;
  color: #FF42A5;
}

.footer {
  padding: 10rem 0;
  background: #0b0223;
  color: #534C64;
  text-align: center;
}
.footer .nav__logo {
  display: flex;
  align-items: center;
}
.footer .nav__logo img {
  width: 8rem;
}
.footer .nav__logo p {
  color: #ffffff;
}
.footer__links, .footer__policy__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding-top: 5rem;
}
.footer__links a, .footer__policy__links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}
.footer__policy__links a {
  color: #534C64;
}
.footer__social__links {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.footer__social__links img {
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .footer__links {
    flex-direction: column;
  }
  .footer__social__links {
    gap: 1.4rem;
  }
}
.footer .end-text {
  padding-top: 2rem;
}/*# sourceMappingURL=main.css.map */