.online {
  padding: 10rem 0;
  background: $ClrWhite;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(small-phone) {
      flex-direction: column;
      gap: 10rem;
    }
  }

  &__left {
    width: 50%;
    position: relative;

    @include respond(small-phone) {
      width: 100%;
    }

    &__img__lg {
      display: flex;
      justify-content: flex-start;

      & img {
        width: 80%;
      }
    }

    &__img__sm {
      position: absolute;
      right: 2rem;
      bottom: -8rem;

      & img {
        width: 100%;
        max-width: 21rem;
        max-height: 26rem;
      }
    }
  }

  &__right {
    width: 50%;
    text-align: center;
    display: grid;
    place-items: center;

    @include respond(small-phone) {
      width: 100%;
    }

    & > div {
      max-width: 40rem;
    }

    & span {
      @include GradientText;
    }

    & p {
      color: $ClrGray;
      line-height: 2.5rem;
      padding-top: 2rem;
    }
  }
}
