.videos {
  padding: 10rem 0;

  & .heading-3 {
    text-align: center;
  }

  & .heading-3 span {
    @include GradientText;
  }

  & .container > p {
    text-align: center;
    line-height: 3rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: $ClrGray;
  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-top: 5rem;
  }

  & .video__play {
    display: none;
    transition: 0.4s ease-in-out;
  }

  & .video {
    width: 28rem;
    cursor: pointer;

    & .video_img {
      position: relative;

      &:hover .video__play {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.6);
        border: 5px solid $ClrPink;
        border-radius: 2rem;

        & img {
          width: 8rem;
          height: 8rem;
        }

        & p {
          font-size: 3rem;
          color: $ClrPink;
          font-weight: 700;
        }
      }

      & img {
        width: 100%;
        height: 40rem;
        border-radius: 2rem;
        border: 5px solid transparent;
        position: relative;
      }
    }

    & p {
      color: $ClrGray;
      padding: 1rem;
    }
  }
}
